@import url('https://fonts.googleapis.com/css?family=Inter|Lora&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
/* css variables */
:root {
    --primary-color: #262626;
    --secondary-color: #fff;
    --tertiary-color: rgb(146, 143, 143);
}

body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
}
/* general styles */
.mt-1 {
    margin-top: 1rem;
}
img {
    width: 100%;
    max-width: 100%;
    
}
.container {
    width: 95%;
    max-width: 1160px;
    margin: 0 auto;
}
/* flexbox */
 
ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.1s;
    color: var(--primary-color);
    
}


/* desktop styles */
 

/* navigation */

#header-nav {

    font-family:Lora, serif;
}

.nav {
    background-color: var(--secondary-color);
    position: fixed;
    width: 95%;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
     
     
}
.nav .nav__logo {
    font-size: 2rem;
    margin-right: auto;
}
.nav .nav__list {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav .nav__list li {
    margin-left: 1.5rem;
    padding-left: 1.1rem;
}
.nav .underline {
    display: block;
    width: 100%;
    position: relative;
  
    padding: 0;
    width: 100%;
    height: 2px;
    bottom: 35%;
    right: 0;
    background-color: #000;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: center;
}
.nav .text:hover + .underline {
    transform: scaleX(1);
}
 
/* show and close is added on click even of menu btn */
/* .nav .nav__list.show {

}
 
.nav .nav__list.close {

} */

/* main content header */
.main__header {
    text-align: center;
    padding-top: 16rem;
}
.main__header-title--large {
    font-size: 4rem;
}
.main__header-paragraph--grey {
    font-size: 1.2rem;
    color: var(--tertiary-color);
}
.main__header-btn {
    padding: 0.8rem 1.3rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    margin-top: 3.7rem;
}
.main__header-btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* about */
/* about  */
#about {
    margin-top: 16rem;
    text-align: center;
    
}
.about__title--bg {
    font-size: 3rem;
   
}
.about__container {
    margin-top: 3rem;
    display: flex;
    
    
}
.about__description-title {
    font-size: 1.6rem;
    padding: 1.4rem 0 0.5rem 0;
}
.about__description-container a {
    color: blue;
    text-decoration: underline;
}
.about__container-d {
    flex: 1;
}
.about__skills-d {
    margin-left: 4rem;
    flex: 2;
}
.about__skills-d h3 {
    color: #c12127;
    text-transform: uppercase;
}
.about__skills-d span {
    display: inline-block;
    margin-right: 1.4rem;
}
.about__skills-d i {
    transition: all 0.6s;
}
.about__skills-d .fa-bootstrap:hover {
    color: darkblue;
}
.about__skills-d .fa-html5:hover {
    color: #F16529;
}
.about__skills-d .fa-css3:hover {
    color: #2965f1;
}
.about__skills-d .fa-npm:hover {
    color: #c12127;
}
.about__skills-d .fa-js-square:hover {
    color: #F0DB4F;
}
.about__description-paragraph-grey {
    color: var(--tertiary-color);
}

.about__skills-title--bg {
    font-size: 2.8rem;
    
}
.about__skills-container {
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding-top: 3rem;
   
}
.about__skills-container h3 {
    font-size: 2.4rem;
}
.about__skills-container img {
    max-width: 40%;
}

 
/* projects */
#projects {
    margin-top: 16rem;
    text-align: center;
}
#projects article {
    border: 1px solid lightgray;
    
    margin-bottom: 1.5rem;
}
.projects__title {
    font-size: 3.1rem;
    margin-bottom: 2rem;
}
.projects__container {
     
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 30px;
   
}
.projects__container article {
    
}
.projects_pic {
    
    width: 100%;
    height: 300px;
    background-color: brown;
    flex: 5;
}
.projects_pic--1 {
    
    background: url(images/website-1-homepage.png) left no-repeat;
    background-size: cover;
}
.projects_pic--2 {
    background: url(images/website-2-homepage.png) top no-repeat;
    background-size: cover;
}
.projects_pic--3 {
    background: url(images/website-3-homepage.png) center no-repeat;
    background-size: cover;
}
.projects_pic--4 {
    background: url(images/website-4-homepage.png) center no-repeat;
    background-size: cover;
}
.projects_link {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.4rem;
}
.projects_link a:first-child {
   margin-bottom: 0.3rem;
}
.projects_link a {
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--primary-color);
}
.projects_link a:hover {
    background-color: var(--primary-color);
}
.projects_link a:hover {
    color: var(--secondary-color);
}
 
/* contact me  */
#contact {
    margin-top: 12rem;
}
#contact .contact__title {
    font-size: 2.8rem;
}
#contact .contact__paragraph {
    font-family: Lora, monospace, sans-serif;
    color: var(--tertiary-color);
}
#contact strong, i {
    color: #000;
}
/* footer  */
#footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    margin-top: 7rem;
    padding: 4rem 0 2rem 0;
    
}
.footer__icons {
    padding-bottom: 5rem;
}
.footer__icons a {
    color: var(--secondary-color);
    padding: 0 1rem;
}
.footer__icons [title="github"]:hover {
    color: blueviolet;
}
.footer__icons [title="codewars"]:hover {
    color: chocolate;
}
.footer__container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
   
}

/* hamburger menu */
/* .hamburger-menu {
    position: fixed;
    top: 14px;
    right: 12px;
    cursor: pointer;
    z-index: 1000;
    display: none;
    
}
.hamburger-line {
    width: 2.2rem;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 0.4rem;
}
.hamburger-menu .hamburger-line:last-child {
    margin-bottom: 0;
}
  */
@media (max-width: 1100px) {
     
}
/* media queries */
@media (max-width: 950px) {
     
   
    .about__skills-d {
        flex: 1;
    }
    .projects__container {
        grid-template-columns: repeat(2,1fr);
    }
    .about__skills-d {
        margin: 0 auto;
    }

}
@media (max-width: 700px) {
    .about__container {
        grid-template-columns: 1fr;
    }
    .about__skills-d {
        padding-top: 3rem;
    }
    /* .nav .nav__list {
        display: none;
    }
    .hamburger-menu {
        display: block;
    } */
    .nav .nav__list li {
        margin-left: 0.7rem;
    }
    .nav .nav__list-link {
        padding-left: 0.7rem;
    }
    .footer__icons a {
        padding-bottom: 0.5rem;
    }
    .about__container {
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .projects__container {
        grid-template-columns: 1fr;
    }
    #footer {
        padding: 2rem 0 1rem 0;
    }
    #footer .footer__icons {
        padding-bottom: 3rem;
    }    
}